.cabecalho{
    align-items: center;
background: #f9f9f9;
display: flex;
justify-content: space-between;
padding-left: 2rem;
padding-right: 2rem;
}

.menu-item {
list-style: none;

}
.menu-item:last-child .menu-link {
margin-right: 0;


}
.menu-link {
color: #808080;
margin-right: 1.25rem;
text-decoration: none;
text-transform: lowercase;
}
.menu-link.ativo{
color: #333333;
font-weight: bold;

}
.menu-link:hover{
text-decoration: underline;
}







.imagem {
width: 15%;
left: 50%;

}
.banner-imagem {
width: 100%;
position: relative;    
}




.sobre {
    padding: 2.5rem;
    text-align: center;
    font-family: cursive;
    font-size: 2.1875rem;
}
.descricao {
    font-size: 1.75rem;
    font-weight: 100;
}
.produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}
.produto {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 25%;

}
.receita__botao {
border: none;
border-radius: 5px;
padding: 1rem;
background: brown;
transition: all .1s ease-in-out;

}
.receita__botao:hover{
    cursor: pointer;
    background: cadetblue;
 

}
.quem-somos__titulo{
    margin-bottom: 1rem;
    color: brown;
    font-size: 3.1875rem;
    font-family: cursive;
}
.quem-somos{
    text-align: center;
    padding: 5rem;
}
.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
}
nav li {
    display: inline;
}
.menu-link {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.receita__titulo{
text-align: center;

}
.receita__descricao {
    text-align: center;
}
.valor {
    text-align: center;
}
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    margin-top: 30px;
}
.valor-avista {
    border: none;
border-radius: 5px;
padding: 1rem;
transition: all .1s ease-in-out;
}
copy {
    text-aliegn:center
}



